.display {
  // Geometry
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 318px;
  height: 120px;
  border: 2px solid #383838;
  border-radius: 10px;
  padding: 22px 15px 15px 15px;

  // Colors
  background-color: #ededed;

  // Fonts
  font-size: 20px;
  font-weight: 300;

  &__prevline {
    // Geometry
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;

    // Colors
    color: #adadad;
  }

  &__mainline {
    // Geometry
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.equal {
  // Colors
  color: #adadad;
}

.main-value {
  // Geometry
  margin-left: 15px;

  // Colors
  color: #383838;

  // Fonts
  font-size: 36px;
  font-weight: 600;
}

.keys {
  display: flex;
  width: 318px;
  gap: 10px;
  flex-wrap: wrap;
}
